.logo {
    display: flex; 
    margin-top: -120px;
    margin-left: 30px;
}

.header {
    color: black;
    font-family: simple sample;
    text-align: center;
    background-color: #C7B299;
    font-size: 45px;
    padding: 30px;
    margin: -25px;
}

.header a {
    color: black;
    text-decoration: none;
}

.header a:hover {
    color: purple;
}

.login {
    display: flex;
    justify-content: flex-end;
    font-family: helvetica;
    font-weight: bold;
    font-size: 18px;
    margin-top: -80px;
    margin-right: 30px;
    margin-bottom: -10px;
}

.cart {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -5px;
    margin-right: 20px;
}

.cart a:hover {
    color: purple;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    background: #AAD8E6;
    padding: 0px;
    margin: -25px;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: black;
    width: 100px;
    display: flex;
    padding: 35px;
    margin: 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 18px;
}

.navbar a:hover {
    color: purple;
}

.newarrivals {
    font-family: simple sample;
    font-size: 65px;
    padding: 10px;
    margin: 15px;
    margin-top: 100px;
}

.intro {
    font-family: american typewriter;
    font-size: 25px;
    margin: 25px;
    padding: 0px;
    line-height: 1.5;
}

.books {
    padding: 0px;
    margin: 25px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: -10px;
}

.mindfulness-image {
    margin: -10px;
    margin-top: 25px;
}

.mindfulness-text-1 {
    font-family: helvetica;
}

.mindfulness-text-2 {
    font-style: italic;
    font-family: helvetica;
}

.mindfulness-text-3 {
    font-family: helvetica;
}

.hobson {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: helvetica;
    font-size: 18px;
}

.hobson a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.hobson a:hover {
    color: purple;
}

.crystals-image {
    margin: -10px;
    margin-top: 25px;
}

.crystals-text-1 {
    font-family: helvetica;
}

.crystals-text-2 {
    font-family: helvetica;
    font-style: italic;
}

.crystals-text-3 {
    font-family: helvetica;
}

.anderson {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: helvetica;
    font-size: 18px;
}

.anderson a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.anderson a:hover {
    color: purple;
}

.meditation-image {
    margin: -10px;
    margin-top: 25px;
}

.meditation-text-1 {
    font-family: helvetica;
}

.meditation-text-2 {
    font-family: helvetica;
    font-style: italic;
}

.meditation-text-3 {
    font-family: helvetica;
}

.ward {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: helvetica;
    font-size: 18px;
}

.ward a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.ward a:hover {
    color: purple;
}

.about-us {
    font-family: helvetica;
    margin: 15px;
    line-height: 1.75;
}

.our-mission {
    font-family: helvetica;
    margin: 15px;
    line-height: 1.75;
}

.our-goals {
    font-family: helvetica;
    margin: 15px;
}

.bookstore-text-1 {
    font-family: sunday best;
    font-size: 20px;
    text-align: center;
}

.bookstore-text-2 {
    margin-bottom: 20px;
    font-family: helvetica;
    font-size: 12px;
    text-align: center;
    flex-wrap: wrap;
}

.bookstore-buttons-1 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.bookstore-buttons-2 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.bookstore-buttons-3 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.warning {
    font-family: helvetica;
    color: red;
    font-style: bold;
}

.warning-text {
    font-family: helvetica;
}

.romance {
    margin: 20px;
}

.poetry {
    margin: 20px;
}

.scifi {
    margin: 20px;
}

.fiction {
    margin: 20px;
}

.self-help {
    margin: 20px;
}

.mystery {
    margin: 20px;
}

.non-fiction {
    margin: 20px;
}

.thriller {
    margin: 20px; 
}

.fantasy {
    margin: 20px;
}

.romance-header {
    font-family: sunday best;
    text-align: center;
}

.romance-books-1 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.romance-books-2 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.fiction-header {
    font-family: sunday best;
    text-align: center;
}

.fiction-books-1 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.fiction-books-2 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.non-fiction-header {
    font-family: sunday best;
    text-align: center;
}

.non-fiction-books-1 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.non-fiction-books-2 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.poetry-header {
    font-family: sunday best;
    text-align: center;
}

.poetry-books-1 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.poetry-books-2 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.self-help-header {
    font-family: sunday best;
    text-align: center;
}

.self-help-books-1 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.self-help-books-2 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.thriller-header {
    font-family: sunday best;
    text-align: center;
}

.thriller-books-1 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.thriller-books-2 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.sci-fi-header {
    font-family: sunday best;
    text-align: center;
}

.sci-fi-books-1 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.sci-fi-books-2 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.mystery-header {
    font-family: sunday best;
    text-align: center;
}

.mystery-books-1 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.mystery-books-2 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.fantasy-header {
    font-family: sunday best;
    text-align: center;
}

.fantasy-books-1 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.fantasy-books-2 {
    width: 100%
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.italic {
    font-family: helvetica;
}

.italic a {
    font-style: italic;
    color: blue;
    text-decoration: none;
}

.italic a hover {
    color: purple;
}

.about-book {
    font-family: helvetica;
    margin: 25px;
}

.broken {
    margin: 25px;
    font-family: helvetica;
}

.maybe {
    margin: 25px;
    font-family: helvetica;
}

.better {
    margin: 25px;
    font-family: helvetica;
}

.elenor {
    margin: 25px;
    font-family: helvetica;
}

.fight {
    margin: 25px;
    font-family: helvetica;
}

.malibu {
    margin: 25px;
    font-family: helvetica;
}

.unexpected {
    margin: 25px;
    font-family: helvetica;
}

.people {
    margin: 25px;
    font-family: helvetica;
}

.dewey {
    margin: 25px;
    font-family: helvetica;
}

.money {
    margin: 25px;
    font-family: helvetica;
}

.iwill {
    margin: 25px;
    font-family: helvetica;
}

.minimal {
    margin: 25px;
    font-family: helvetica;
}

.minimal-book {
    margin: 25px;
    margin-left: 25px;
}

.emily {
    margin: 25px;
    font-family: helvetica;
}

.hope {
    margin: 25px;
    font-family: helvetica;
}

.milkandhoney {
    margin: 25px;
    font-family: helvetica;
}

.robert {
    margin: 25px;
    font-family: helvetica;
}

.mindsight {
    margin: 25px;
    font-family: helvetica;
}

.blink {
    margin: 25px; 
    font-family: helvetica;
}

.emotional {
    margin: 25px;
    font-family: helvetica;
}

.atomic {
    margin: 25px;
    font-family: helvetica;
}

.atomic-book {
    margin: 25px;
    margin-left: 25px;
}

.survivors {
    margin: 25px; 
    font-family: helvetica;
}

.survivors-book {
    margin: 25px;
    margin-left: 25px;
}

.silent {
    margin: 25px;
    font-family: helvetica;
}

.silent-book {
    margin: 25px;
    margin-left: 25px;
}

.devious {
    margin: 25px;
    font-family: helvetica;
}

.cabin {
    margin: 25px;
    font-family: helvetica;
}

.equation {
    margin: 25px;
    font-family: helvetica;
}

.martian {
    margin: 25px;
    font-family: helvetica;
}

.armada {
    margin: 25px;
    font-family: helvetica;
}

.hitchhiker {
    margin: 25px;
    font-family: helvetica;
}

.hunting {
    margin: 25px;
    font-family: helvetica;
}

.dark {
    margin: 25px;
    font-family: helvetica;
}

.addie {
    margin: 25px;
    font-family: helvetica;
}

.addie-book {
    margin: 25px;
    margin-left: 25px;
}

.chestnut {
    margin: 25px;
    font-family: helvetica;
}

.shade {
    margin: 25px;
    font-family: helvetica;
}

.bone {
    margin: 25px;
    font-family: helvetica;
}

.bone-book {
    margin: 25px;
    margin-left: 25px;
}

.outlander {
    margin: 25px;
    font-family: helvetica;
}

.lost {
    margin: 25px;
    font-family: helvetica;
}


.bookclub-header {
    font-family: american typewriter;
    text-align: center;
    font-size: 20px;
}

.bookclub-text {
    font-family: helvetica;
    text-align: justify-center;
    margin: 20px;
    line-height: 2;
}

.bookclub-text a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.bookclub-text a:hover {
    color: purple;
}

.starting-bookclub {
    font-family: helvetica;
    text-align: justify-center;
    margin: 20px;
    line-height: 1.75;
}

.starting-bookclub a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.starting-bookclub a:hover {
    color: purple;
}

.start-bookclub {
    font-family: simple sample;
    text-align: justify-center;
    font-size: 30px;
    margin: 20px;
}

.create-account {
    font-family: helvetica;
    text-align: justify-center;
    margin: 20px;
    line-height: 1.75;
}

.create-account a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.create-account a:hover {
    color: purple;
}

.contact {
    font-family: helvetica;
    margin: 10px;
}

.contact-form {
    font-family: helvetica;
    font-size: 15px;
    margin: 20px;
}

.contact-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-to-cart-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #DBEAD2;
    padding: 30px;
    margin: -25px;
    margin-top: 50px;
    font-weight: light;
    font-family: helvetica;
}

.copy {
    font-family: helvetica;
    font-weight: light;
    text-align: center;
}