.logo {
    display: flex; 
    margin-top: -120px;
    margin-left: 30px;
}

.header {
    color: black;
    font-family: simple sample;
    text-align: center;
    background-color: #C7B299;
    font-size: 45px;
    padding: 30px;
    margin: -25px;
}

.header a {
    color: black;
    text-decoration: none;
}

.header a:hover {
    color: purple;
}

.login {
    display: flex;
    justify-content: flex-end;
    font-family: helvetica;
    font-weight: bold;
    font-size: 18px;
    margin-top: -80px;
    margin-right: 30px;
    margin-bottom: -10px;
}

.cart {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -5px;
    margin-right: 20px;
}

.cart a:hover {
    color: purple;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    background: #AAD8E6;
    padding: 0px;
    margin: -25px;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: black;
    width: 100px;
    display: flex;
    padding: 35px;
    margin: 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 18px;
}

.navbar a:hover {
    color: purple;
}

.newarrivals {
    font-family: simple sample;
    font-size: 65px;
    padding: 10px;
    margin: 15px;
    margin-top: 100px;
}

.intro {
    font-family: american typewriter;
    font-size: 25px;
    margin: 25px;
    padding: 0px;
    line-height: 1.5;
}

.books {
    padding: 0px;
    margin: 25px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: -10px;
}

.mindfulness-image {
    margin: -10px;
    margin-top: 25px;
}

.mindfulness-info {
    font-style: italic;
}

.hobson {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: helvetica;
    font-size: 18px;
}

.hobson a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.hobson a:hover {
    color: purple;
}

.crystals-image {
    margin: -10px;
    margin-top: 25px;
}

.crystals-info {
    font-style: italic;
}

.anderson {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: helvetica;
    font-size: 18px;
}

.anderson a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.anderson a:hover {
    color: purple;
}

.meditation-image {
    margin: -10px;
    margin-top: 25px;
}

.meditation-info {
    font-style: italic;
}

.ward {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: helvetica;
    font-size: 18px;
}

.ward a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.ward a:hover {
    color: purple;
}

.about-us {
    font-family: helvetica;
    margin: 15px;
    line-height: 1.75;
}

.our-mission {
    font-family: helvetica;
    margin: 15px;
    line-height: 1.75;
}

.our-goals {
    font-family: helvetica;
    margin: 15px;
}

.bookclub-header {
    font-family: american typewriter;
    text-align: center;
    font-size: 20px;
}

.bookclub-text {
    font-family: helvetica;
    text-align: justify-center;
    margin: 20px;
    line-height: 2;
}

.bookclub-text a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.bookclub-text a:hover {
    color: purple;
}

.starting-bookclub {
    font-family: helvetica;
    text-align: justify-center;
    margin: 20px;
    line-height: 1.75;
}

.starting-bookclub a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.starting-bookclub a:hover {
    color: purple;
}

.start-bookclub {
    font-family: simple sample;
    text-align: justify-center;
    font-size: 30px;
    margin: 20px;
}

.create-account {
    font-family: helvetica;
    text-align: justify-center;
    margin: 20px;
    line-height: 1.75;
}

.create-account a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.create-account a:hover {
    color: purple;
}

.contact {
    font-family: helvetica;
    margin: 10px;
}

.contact-form {
    font-family: helvetica;
    font-size: 15px;
    margin: 20px;
}

.contact-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #DBEAD2;
    padding: 30px;
    margin: -25px;
    margin-top: 50px;
    font-weight: light;
    font-family: helvetica;
}

.copy {
    font-family: helvetica;
    font-weight: light;
    text-align: center;
}